# Node.js dependencies
node_modules/
package-lock.json
package.json

# credentials
.env
credentials.json
myenv/

# Python and System files
__pycache__/
*.pyc
.DS_Store

# Miscellaneous
.credentials
assets
scripts/